{% extends 'home/base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #93c5fd;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Bienvenue à la page CATEGORIE!{# { controller_name }}! #} ✅</h1>
        <br>
        <hr>

        <ul>
            {% for categorie in categories %}
                <h2>{{ categorie.name}}</h2>
                <br>
                <a class="nav-link" href="{{ path('app_homeArticles_index', {'idCategorie': categorie.id}) }}"><span>Lire les articles...</span></a>
                <hr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
