{% extends 'account/base_account.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('account/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_account') }}">back to list</a>

    {{ include('account/user/_delete_form.html.twig') }}
{% endblock %}
