<!-- headHome -->
<ul>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_frontuser_new') }}"><span>S'inscrire</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account') }}"><span>Connexion</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_homeCategories_index') }}"><span>Categories</span></a>
    </li>
</ul>

